#admin-toolbar, #content-tabs, #breadcrumbs, #block-logintoboggan-0, #header-primary-menu-wrapper, #content-messages {
  display: none;
  }
body {
   margin-left: 0 !important;
   font-size: 125% !important;
}

a {
  color: #000;
}
