body {}

#header-first {
  width: 100%;
}

div.view-id-auction_items td {
  text-align: center;
}

.filefield-element .widget-preview {
  max-width: none;
}

.view-auction-items .views-field-title {
  font-size: 120%;
  font-weight: bold;
}